.SkillsItem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.SkillsItem .icon {
  color: rgb(225, 225, 225);
  font-size: 1.5rem;
  line-height: .8; /* Centers icons */
}

.SkillsItem .skill {
  padding-top: 0.5rem; /* Creates space between text and icons */
}

.SkillsItem .skill p {
  color: var(--color-accent);
  font-size: 1rem; 
}