.Welcome {
  text-align: center; /* Centers all text content */
  max-width: 343px;
  min-height: 422px;

  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
/* Title */

.Welcome .title {
  text-align: start;
}

.Welcome .title h1 {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-cursive);
}

/* Container */

.Welcome .container {
  width: 100%;
}

/* Location */

.Welcome .location p {
  color: rgb(112, 121, 129);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.Welcome .location .from {
  padding-bottom: 0.75rem; /* adds space between both locations */
}

/* ===== Media Queries ===== */

/* Mobile Common Sizes */

@media (min-height: 536px) and (max-width: 320px) {
  .Welcome {
    min-height: 456px;
  }
}

@media (min-height: 570px) and (max-width: 375px) {
  .Welcome {
    min-height: 528px;
  }
}

@media (min-height: 642px) and (max-width: 375px) {
  .Welcome {
    min-height: 555px;
  }
}

@media (min-height: 720px) and (max-width: 375px) {
  .Welcome {
    min-height: 608px;
  }
}

/* Mobile Large */

@media (min-width: 376px) {
  .Welcome {
    margin-left: auto; /* Keep Welcome div centered */
    margin-right: auto;
  }
}

/* Mobile Tall Screens */

@media (min-height: 667px) and (max-width: 480px) {
  .Welcome {
    min-height: 688px
  }

  .Welcome .title h1 {
    font-size: 3rem;
  }
}

/* Tablet / Mobile */

@media (min-width: 426px) {
  .Welcome {
    max-width: 548px; /* Increases content width */
    min-height: calc((100vh) - var(--header-height));
  }

  .Welcome .title h1 {
    font-size: 2.5rem;
  }
}

/* Laptop / Tablet */

@media (min-width: 770px) {
  .Welcome {
    max-width: 620px; /* Increases content width */
  }

  .Welcome .title h1 {
    font-size: 2.75rem;
  }

  .Welcome .location {
    font-size: 1rem;
    padding-top: 2rem;
    display: flex; /* sets locations side-by-side */
    justify-content: space-between;
  }

  .Welcome .location .from {
    padding-bottom: 0; /* Removes space between locations */
  }
}

@media (min-width: 768px) and (min-height: 968px) {
  .Welcome {
    min-height: 912px;
  }

}

@media (min-width: 768px) and (min-height: 1200px) {
  .Welcome {
    min-height: 1168px;
  }
}

/* Large Screens */

@media (min-width: 1026px) {
  .Welcome {
    min-height: calc((100vh) - var(--header-height));
  }

  .Welcome .title h1 {
    font-size: 3.5rem;
  }
}

/* XLarge Screens */

@media (min-width: 1290px) {

  .Welcome .title h1 {
    font-size: 4rem;
  }

  .Welcome .location {
    margin-top: 5rem;
  }
}