.Header {
  background: linear-gradient(45deg, rgb(225, 225, 225), rgb(242, 242, 242));
  height: 112px;
  width: 100%;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.35);

  display: flex;
  align-items: center;
}