.Hamburger {
  /* Local Variables */
  --hamburger-span-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  width: 60px;
  height: 55px;
  cursor: pointer;
  position: absolute;
  right: 12px; /* may need to change */
  top: 28px; /* NEED TO ADJUST */
  z-index: var(--hamburger-z-index);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Hamburger Bars */

.Hamburger span {
  content: " ";
  display: block;
  background-color: var(--color-medium);
  width: 50px;
  height: 6px;
  border-radius: 3px;

  transition: var(--hamburger-span-transition);
}

/* Hamburger Active */

.Hamburger.active span:first-child {
  transform: rotateZ(43deg) translate(10px, 12px);
}

.Hamburger.active span:nth-child(2) {
  transform: translateX(-110%);
  opacity: 0;
}

.Hamburger.active span:last-child {
  transform: rotateZ(-43deg) translate(10px, -12px);
}