.ContactPageWrapper {
  width: 100%;
  margin-left: auto; /* Centers Wrapper */
  margin-right: auto;
  padding-left: 16px; /* Provides padding for mobile view */
  padding-right: 16px;

  position: relative;
}

/* ===== Media Queries ===== */

/* Early Tablet */

@media (min-width: 498px) {
  .ContactPageWrapper {
    padding-left: 0; /* Removes padding from edges */
    padding-right: 0;
  }
}