.ContactPageWrapper {
  width: 100%;
  max-width: var(--xl-screen);
  margin-left: auto; /* Centers Wrapper */
  margin-right: auto;
  padding-left: 16px; /* Provides padding for mobile view */
  padding-right: 16px;

  position: relative;
}

/* ===== Media Queries ===== */

/* Early Tablet */

@media (min-width: 498px) {
  .ContactPageWrapper {
    padding-left: 0; /* Removes padding from edges */
    padding-right: 0;
  }
}

/* Mid Laptop */

@media (min-width: 936px) {
  .ContactPageWrapper {
    max-width: 100%; /* Allows Wrapper to expand the width of entire viewport */
  }
}